/* Write your CSS here */
.second-chart {
  background-color: #1c1c2b;
  padding: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  font-family: 'roboto';
  color: #cbd5e1;
  font-size: 24px;
  font-weight: 700;
}
